@import "~bootstrap/scss/bootstrap.scss";


.buildingMiddle1{

font-size:8px;
letter-spacing: 12px;
 position:relative; 
 left:80px; 
 top:-440px;
}
.buildingMiddle2{

font-size:8px;
letter-spacing: 15px;
 position:relative; 
 left:86px; 
 top:-430px;
}
.buildingMiddle3{

font-size:8px;
letter-spacing: 15px;
 position:relative; 
 left:108px; 
 top:-420px;
}
.buildingMiddle4{

font-size:8px;
letter-spacing: 15px;
 position:relative; 
 left:108px; 
 top:-410px;
}