@import "~bootstrap/scss/bootstrap.scss";

.buildingLast1{
    font-size:5px;
letter-spacing: 20px;
 position:relative; 
 left:620px; 
 top:-450px;
}
.buildingLast2{
    font-size:5px;
letter-spacing: 25px;
 position:relative; 
 left:620px; 
 top:-450px;
}
.buildingLast3{
    font-size:5px;
letter-spacing: 25px;
 position:relative; 
 left:620px; 
 top:-450px;
}
.buildingLast4{
    font-size:5px;
letter-spacing: 25px;
 position:relative; 
 left:620px; 
 top:-450px;
}