@import "~bootstrap/scss/bootstrap.scss";

.buildingRight1{
    font-size:8px;
letter-spacing: 20px;
 position:relative; 
 left:400px; 
 top:-450px
}

.buildingRight2{
    font-size:8px;
letter-spacing: 20px;
 position:relative; 
 left:340px; 
 top:-430px
}
.buildingRight3{
    font-size:8px;
letter-spacing: 20px;
 position:relative; 
 left:340px; 
 top:-420px
}
.buildingRight4{
    font-size:8px;
letter-spacing: 20px;
 position:relative; 
 left:340px; 
 top:-410px
}