@import "~bootstrap/scss/bootstrap.scss";

body{
    height:100vh;
    width:100vw;
    background-color:black;
}
.city{
    object-fit:cover;
    height:100vh;
    width:100vw;
    margin-top:60px;
}
.video{
    object-fit:cover;
    height:100vh;
    margin-top:-50px;
    width:100vw;
    position:absolute;
    z-index:-30;
}
.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #939393;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;
        li {
            font-family: Serif;
            color: #ccc;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

.windows{
font-size:10px;
letter-spacing: 30px;
 position:relative; 
 left:-76px; 
 top:-150px
  
  
   
   
   
}
/* 
.window

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
