@import "~bootstrap/scss/bootstrap.scss";

body{
    height:100vh;
    width:100vw;
    background-color:black;
   
}
.city{
    object-fit:cover;
    height:100vh;
    width:100vw;
    margin-top:60px;
}
.video{
    object-fit:cover;
    height:100vh;
    margin-top:-50px;
    width:100vw;
    position:absolute;
    z-index:-30;
}

.squareBuilding{
font-size:9px;
letter-spacing: 26px;
 position:relative; 
 left:-153px; 
 top:-420px
}
.buildingRight{
    font-size:7px;
letter-spacing: 20px;
 position:relative; 
 left:335px; 
 top:-460px
}
.buildingLast{
    font-size:5px;
letter-spacing: 20px;
 position:relative; 
 left:620px; 
 top:-500px;
}


/*.wordCarousel {
    font-size: 60px;
    font-weight: 100;
    color: rgb(165, 161, 161);
    margin-top:-300px;
    float:center;
    margin-left:-180px;
    letter-spacing:20px;
   font-family: 'Anton', sans-serif;
    
   
    div {
        overflow: hidden;
        position: relative;
        float: center;
        margin-left:800px;
       
        height: 65px;
        padding-top: 10px;
        margin-top: -80px;
        li {
            font-family: 'Anton', sans-serif;

            color:  white;
            font-weight: 700;
            padding: 0 10px;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}
.flip3 { animation: flip3 5s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
    - home.js-
		<h4 className="wordCarousel">
				<span>Happy New </span>
				<div>
					<ul className="flip3">
						<li>Year</li>
						<li>Life</li>
						<li>Luck</li>
					</ul>
				</div>
			</h4>
*/
