@import "~bootstrap/scss/bootstrap.scss";


//rows
.squareBuilding1{
font-size:10px;
letter-spacing: 30px;
 position:relative; 
 left:-153px; 
 top:-420px
}
.squareBuilding2{
font-size:10px;
letter-spacing: 30px;
 position:relative; 
 left:-153px; 
 top:-400px
}
.squareBuilding3{
font-size:10px;
letter-spacing: 30px;
 position:relative; 
 left:-153px; 
 top:-380px
}
.squareBuilding4{
font-size:10px;
letter-spacing: 30px;
 position:relative; 
 left:-153px; 
 top:-360px
}
