@import "~bootstrap/scss/bootstrap.scss";

//rows
.tallBuilding1{
    font-size:16px;
letter-spacing: 30px;
 position:relative; 
 left:-304px; 
 top:-500px
    
}
.tallBuilding2{
    font-size:16px;
letter-spacing: 30px;
 position:relative; 
 left:-304px; 
 top:-480px
    
}
.tallBuilding3{
    font-size:16px;
letter-spacing: 30px;
 position:relative; 
 left:-304px; 
 top:-460px
    
}
.tallBuilding4{
    font-size:16px;
letter-spacing: 30px;
 position:relative; 
 left:-304px; 
 top:-440px
    
}
.tallBuilding5{
    font-size:16px;
letter-spacing: 30px;
 position:relative; 
 left:-304px; 
 top:-420px
    
}